<div class="row" style="text-align:center;background:url(../../assets/img/slider1.png);background-size:100%;display:inline-block;width:auto;height:100%;background-size: cover;">

  <div class="card col-sm-offset-4 col-sm-4 col-xs-12" style="padding: 20px;  box-shadow: 0px 1px 1px 1px grey;  margin-top: 15%;background-color: #b7e6b7e0;" >

    <div class="input-group" >      
      <img src="/assets/img/Icon_06.png" style="margin-left: 62%;width: 166px;">
    </div>

    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      <input id="email" type="text" class="form-control" name="username" placeholder="Username" [(ngModel)]="username">
    </div>

    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
      <input id="password" type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="password" >
    </div>
    <div class="input-group" style="width:100%;">
      <button type="button" class="btn btn-info" (click)="doLogin()"  style="width:100%;background-color: #18b14e">Login</button>
    </div>
  </div>
  
</div>

<div id="overlayLoading" *ngIf="loading">
  <img class="pl-3" src="../../assets/img/loading.gif" />
</div>