
<div class="sidebar-wrapper">    
    <img src="/assets/img/ayushyaalogo1.jpg" class="img-rounded" alt="" width="100%" height="100px"> 
    
    <ul class="nav">
        <li class="divider" *ngIf="isNotMobileMenu()"></li>
        <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
            <a [routerLink]="[menuItem.path]">
                <i class="{{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
        <li *ngIf="isNotMobileMenu()" (click)="logout()">
            <a href="#">
            <i class="ti-settings"></i>
            <p>Logout</p>
            </a>
        </li>
    </ul>
</div>
