<div class="container-fluid" style="background-color: white;">

    <h2 style="display:inline-block;">All Token</h2>
    <button type="button" class="btn btn-info" (click)="next_token(CurrenntToken.token_number)" style="float:right;margin-top: 17px;">Next Token</button>
    <div class="row">
        <div class="col-sm-6" >
            <div class="container" style="width:100%;">                
                <div class="input-group" >
                    <div class="col-sm-6">
                        <h3  style="margin-top:2%;">Pending Token</h3> 
                    </div>
                    <div class="col-sm-6" style="display: inline-flex;">
                        <input type="text" class="form-control" placeholder="Search..." name="search" [(ngModel)]="filtertoken"> 
                        <span class="input-group-addon" style="width: auto; background-color: #5bc0de;">                       
                        <i class="glyphicon glyphicon-search" style="color: white;"></i> </span>
                    </div>
                </div>                               
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td >S.NO.</td>          
                            <td class="list">Token Number</td>
                            <td class="list">Started</td>
                            <td class="list">Status</td>  
                        </tr>
                    </thead>
                    <tbody>                    
                        <tr *ngFor="let x of CurrenntToken;let i=index;" [ngStyle]="{'background-color':'blanchedalmond'}">
                            <td>{{i}}</td>
                            <td class="list">{{x.token_number}}</td>
                            <td class="list">
                                <p>{{x?.start_time}}</p>
                            </td>
                            <td class="list">
                                <button class="btn btn-success" style="float:right;" (click)="ONEndTime(x.token_number)" >Done</button>
                            </td>
                        </tr>
                        <tr *ngFor="let pendingtoken of TodayTokenpending |filter:filtertoken ;let i=index;">
                            <td>{{i+1}}</td>
                            <td class="list">{{pendingtoken.token_number}}</td>
                            <td class="list">
                                <p>-</p>
                            </td>
                            <td class="list">
                                <button class="btn btn-info" style="float:right;" (click)="ONStartTime(pendingtoken.token_number)" >Start</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-6" >
            <div class="container" style="width:100%;">                
                <div class="input-group" >
                    <div class="col-sm-6">
                       <h3 style="margin-top:2%;">Completed Token</h3> 
                    </div>
                    <div class="col-sm-6" style="display: inline-flex;">
                        <input type="text" class="form-control" placeholder="Search..." name="search" [(ngModel)]="filtertokennumber">                        
                        <span class="input-group-addon" style="width: auto; background-color: #5bc0de;">
                        <i class="glyphicon glyphicon-search" style="color: white;"></i> </span>                       
                    </div>
                </div>                               
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td>S.NO.</td> 
                            <td class="list">Token Number</td>
                            <td class="list">Start Time</td>
                            <td class="list">End Time</td>
                        </tr> 
                    </thead>
                    <tbody> 
                        <tr *ngFor="let token of Todaycompletedtoken|filter:filtertokennumber;let i=index;">
                            <td>{{i+1}}</td>
                            <td class="list">{{token.token_number}}</td>
                            <td class="list">{{token.start_time}}</td>
                            <td class="list">{{token.end_time}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="overlayLoading" *ngIf="loading">
    <img class="pl-3" src="../../assets/img/loading.gif" />
</div>  